<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Controle Symphony{% block title %}Bienvenue !{% endblock %}</title>
        {% block stylesheets %}
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/app.min.css">
        {% endblock %}
    </head>
    <body>

        {% include 'home/header.html.twig' %}

        {% block body %}
        <div class="container">
            <h1>Bienvenue sur mon site</h1>
        </div>
        <div class="container">
            <p>Veuillez voir les différents contact</p>
        </div>
        {% endblock %}

        {% include 'home/footer.html.twig' %}

        <script src="/js/jquery.min.js"></script>
        <script src="/js/popper.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>

        {% block javascripts %}{% endblock %}

    </body>
</html>
